// @media(max-width: 1380px) {height: 90px;}
// @media(max-width: 980px) {height: 70px;}
// @media(max-width: 680px) {height: 50px;}
// @media(max-width: 480px) {height: 40px;}

.todo_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;

    .row {
        position: relative;
        display: flex;
        align-items: center;

        z-index: 1;
        background-color: #F7F1DB;

        .check_box_container {
            position: relative;
            height: 110px;
            max-width: 155px;
            width: 100%;
            cursor: pointer;

            .check_box {
                position: absolute;
                width: 100px;
                bottom: 50%;
                left: 50%;
                transform: translateY(50%) translateX(-50%);

                @media(max-width: 1380px) {
                    width: 90px;
                }

                @media(max-width: 980px) {
                    width: 70px;
                }

                @media(max-width: 680px) {
                    bottom: 47%;
                    width: 50px;
                }

                @media(max-width: 480px) {
                    bottom: 44%;
                    width: 40px;
                }

                @media(max-width: 399px) {
                    bottom: 47%;
                }
            }

            .checkmark {
                position: absolute;
                width: 77px;
                bottom: 12%;
                left: 25%;

                @media(max-width: 1380px) {
                    width: 43%;
                    bottom: 8%;
                    left: 30%;
                }

                @media(max-width: 980px) {
                    width: 45%;
                    left: 33%;
                }

                @media(max-width: 680px) {
                    width: 40%;
                    left: 37%;
                    bottom: 3%;
                }

                @media(max-width: 680px) {
                    width: 51%;
                    left: 30%;
                    bottom: 7%;
                }

                @media(max-width: 480px) {
                    width: 41%;
                    left: 35%;
                    bottom: 3%;
                }

                @media(max-width: 399px) {
                    bottom: 5%;
                }
            }

            @media(max-width: 1380px) {
               height: 90px;
            }

            @media(max-width: 980px) {
                max-width: 110px;
                height: 70px;
            }

            @media(max-width: 680px) {
                height: 50px;
                max-width: 90px;
            }

            @media(max-width: 580px) {
                max-width: 70px;
            }

            @media(max-width: 480px) {
                height: 40px;
            }

            @media(max-width: 380px) {
                max-width: 60px;
            }
        }

        .line_vertical {
            height: 120px;

            @media(max-width: 1380px) {
                height: 90px;
            }

            @media(max-width: 980px) {
                height: 70px;
            }

            @media(max-width: 680px) {
                height: 50px;
            }

            @media(max-width: 480px) {
                height: 40px;
            }
        }

        .right_container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .text_input {
                position: relative;
                font-family: 'LeoHand';
                font-size: 58px;
                line-height: 0;
                color: #231579;
                padding: 0 0 0 20px;
                transform: translateY(10px);
                background: none;
                border: none;
                width: 100%;
                caret-color: transparent;   
                text-indent: 15px;
                
                @media(max-width: 1580px) {
                    font-size: 50px;
                }

                @media(max-width: 1480px) {
                    font-size: 46px;
                }

                @media(max-width: 1380px) {
                    font-size: 40px;
                    padding: 0px;
                }

                @media(max-width: 1200px) {
                    font-size: 36px;
                }

                @media(max-width: 1100px) {
                    font-size: 32px;
                }

                @media(max-width: 980px) {
                    font-size: 28px;
                    transform: translateY(7px);
                }

                @media(max-width: 780px) {
                    font-size: 22px;
                }

                @media(max-width: 680px) {
                    font-size: 18px;
                }

                @media(max-width: 580px) {
                    font-size: 16px;
                    transform: translateY(4px);
                }

                @media(max-width: 380px) {
                    font-size: 14px;
                }
            }

            .text_input:focus {
                outline: none;
            }

            .text_input:focus::selection {
                background: #e9b80691;
                color: #ffffff;
            }

            .text_input.text_completed {
                display: block;
                color: #000a9923;
            }

        
            .wastebasket_wrapper {
                position: relative;
                z-index: 5;
                width: 120px;
                height: 120px;
                cursor: pointer;
                margin-right: 30px;
        
        
                .wastebasket {
                    position: absolute;
                    z-index: 5;
                    width: 120px;
                    top: 0px;
                    left: 0px;
                    transition: .5s ease;

                    @media(max-width: 1380px) {
                        width: 90px;
                    }

                    @media(max-width: 980px) {
                        width: 70px;
                    }

                    @media(max-width: 680px) {
                        width: 50px;
                    }

                    @media(max-width: 480px) {
                        width: 40px;
                    }
                }
    
                .wastebasket_body {
                    pointer-events: none;

                    @media(max-width: 1380px) {
                        left: 10px;
                    }

                    @media(max-width: 1100px) {
                        left: -15%;
                    }
                }
                .wastebasket_cap {
                    transform: translateX(15px) translateY(10px) rotate(35deg);
                    pointer-events: none;

                    @media(max-width: 1380px) {
                        top: -3px;
                        left: 6px;
                    }

                    @media(max-width: 1100px) {
                        left: -20%;
                    }

                    @media(max-width: 980px) {
                        top: -5px;
                        left: -24%;
                    }

                    @media(max-width: 680px) {
                        top: -6px;
                        left: -37%;
                    }

                    @media(max-width: 480px) {
                        top: -8px;
                        left: -45%;
                    }
                }
                .wastebasket_trash {
                    opacity: 0;
                    transform: translateX(15px) translateY(-30px) rotate(35deg);
                    pointer-events: none;
                }

                @media(max-width: 1380px) {
                    width: 90px;
                    height: 90px;
                }

                @media(max-width: 1100px) {
                    margin-right: 0px;
                }

                @media(max-width: 980px) {
                    height: 70px;
                    width: 70px;
                }

                @media(max-width: 680px) {
                    height: 50px;
                    width: 50px;
                }

                @media(max-width: 480px) {
                    height: 40px;
                    width: 40px;
                }
            }
    
            .wastebasket_wrapper:hover {
    
                .wastebasket_body {}
                .wastebasket_cap {
                    transform: translateX(0px) translateY(0px) rotate(0deg);

                    @media(max-width: 680px) {
                        transform: translateX(10px) translateY(5px) rotate(0deg);
                    }
                }
                .wastebasket_trash {
                    opacity: 1;
                    transform: translateX(0px) translateY(0px) rotate(0deg);
                    animation: trash 2.5s forwards;

                    @media(max-width: 1380px) {
                        animation: trash_1380px 2.5s forwards;
                    }

                    @media(max-width: 1100px) {
                        animation: trash_1100px 2.5s forwards;
                    }

                    @media(max-width: 680px) {
                        animation: trash_680px 2.5s forwards;
                    }

                    @media(max-width: 480px) {
                        animation: trash_480px 2.5s forwards;
                    }
                }
            }
        }

    }

    .stamp {
        position: absolute;
        z-index: 50;
        top: -3%;
        color: #ff0000;
        width: 130px;
        height: 130px;
        pointer-events: none;

        @media(max-width: 1380px) {
            width: 100px;
            height: 100px;
        }

        @media(max-width: 980px) {
            width: 80px;
            height: 80px;
            top: -5%;
        }

        @media(max-width: 680px) {
            width: 60px;
            height: 60px;
            top: -8%;
        }

        @media(max-width: 480px) {
            width: 50px;
            height: 50px;
            top: -10%;
        }
    }

    .stamp_date {
        position: absolute;
        top: 0%;
        left: 0%;
        animation: animate_date 10s ease infinite;
    }

    .stamp_time {
        position: absolute;
        top: 0%;
        left: 0%;
        animation: animate_time 10s ease infinite;
    }

}

.line_horizontal_bottom {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0px;
    left: 0px;
    transform: translateY(5px);
}

// ----------------------- Корзина -------------------------
@keyframes trash {
    0% {
        opacity: 0;
        transform: translateX(10px) translateY(-7px) rotate(0deg);
    }

    30% {
        opacity: 1;
    }

    90% {
        transform: translateX(-10px) translateY(7px) rotate(0deg);
    }

    100% {
        transform: translateX(-10px) translateY(7px) rotate(0deg);
    }
}

@keyframes trash_1380px {
    0% {
        opacity: 0;
        transform: translateX(20px) translateY(-7px) rotate(0deg);
    }

    30% {
        opacity: 1;
    }

    90% {
        transform: translateX(2px) translateY(5px) rotate(0deg);
    }

    100% {
        transform: translateX(2px) translateY(5px) rotate(0deg);
    }
}

@keyframes trash_1100px {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(-7px) rotate(0deg);
    }

    30% {
        opacity: 1;
    }

    90% {
        transform: translateX(-18px) translateY(5px) rotate(0deg);
    }

    100% {
        transform: translateX(-18px) translateY(5px) rotate(0deg);
    }
}

@keyframes trash_680px {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(-5px) rotate(0deg);
    }

    30% {
        opacity: 1;
    }

    90% {
        transform: translateX(-12px) translateY(3px) rotate(0deg);
    }

    100% {
        transform: translateX(-12px) translateY(3px) rotate(0deg);
    }
}

@keyframes trash_480px {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(-5px) rotate(0deg);
    }

    30% {
        opacity: 1;
    }

    90% {
        transform: translateX(-10px) translateY(2px) rotate(0deg);
    }

    100% {
        transform: translateX(-10px) translateY(2px) rotate(0deg);
    }
}


// ----------------------------- Штамп ------------------------
@keyframes animate_date {
    0% {
        opacity: 100%;
    }

    49% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    99% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}

@keyframes animate_time {
    0% {
        opacity: 0%;
    }

    49% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    99% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}
