

.row_wrapper {

    .row_1 {
        position: relative;
        display: flex;
        align-items: center;
    
        z-index: 1;
        background-color: #F7F1DB;

        .check_box_container {
            max-width: 155px;
            width: 100%;

            @media(max-width: 980px) {
                max-width: 110px;
            }

            @media(max-width: 680px) {
                max-width: 90px;
            }

            @media(max-width: 580px) {
                max-width: 70px;
            }

            @media(max-width: 380px) {
                max-width: 60px;
            }
        }
    
        .line_vertical {
            height: 120px;

            @media(max-width: 1380px) {height: 90px;}
            @media(max-width: 980px) {height: 70px;}
            @media(max-width: 680px) {height: 50px;}
            @media(max-width: 480px) {height: 40px;}
        }
    
        .line_horizontal_bottom {
            position: absolute;
            z-index: 2;
            width: 100%;
            bottom: 0px;
            left: 0px;
            transform: translateY(5px);
        }
    
        .doodle_1,
        .doodle_2 {
            position: absolute;
        }
    
        .doodle_1 {
            top: 50px;
            right: 50px;
            width: 133px;
            height: 120%;

            @media(max-width: 1380px) {
                top: 38px;
            }

            @media(max-width: 980px) {
                top: 30px;
                right: 10px;
            }

            @media(max-width: 680px) {
                top: 20px;
                right: -20px;
            }

            @media(max-width: 480px) {
                top: 16px;
                right: -30px;
            }
        }
    
        .doodle_2 {
            top: 80px;
            left: 250px;
            width: 90px;
            height: 100%;

            @media(max-width: 1380px) {
                top: 60px;
            }

            @media(max-width: 980px) {
                top: 45px;
                left: 140px;
            }

            @media(max-width: 680px) {
                top: 35px;
                left: 90px;
            }

            @media(max-width: 480px) {
                top: 25px;
                left: 60px;
            }
        }
    }
    
    .row_2 {
        position: relative;
        display: flex;
        align-items: center;
    
        z-index: 0;
        background-color: #F7F1DB;

        .check_box_container {
            max-width: 155px;
            width: 100%;

            @media(max-width: 980px) {
                max-width: 110px;
            }

            @media(max-width: 680px) {
                max-width: 90px;
            }

            @media(max-width: 580px) {
                max-width: 70px;
            }

            @media(max-width: 380px) {
                max-width: 60px;
            }
        }
    
        .line_vertical {
            height: 120px;

            @media(max-width: 1380px) {height: 90px;}
            @media(max-width: 980px) {height: 70px;}
            @media(max-width: 680px) {height: 50px;}
            @media(max-width: 480px) {height: 40px;}
        }
    
        .line_horizontal_bottom {
            position: absolute;
            z-index: 2;
            width: 100%;
            bottom: 0px;
            left: 0px;
            // height: 6px;
            transform: translateY(5px);
        }
    }

}
