

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 30px;

    .text_container {
        position: relative;
        display: flex;
        // justify-content: start;    
        height: 10px;
        margin: 15px 20px 15px 20px;

        .text_block {
            display: block;
            position: relative;

            .text { 
                font-size: 36px;
                line-height: 0;

                @media(max-width: 1850px) {
                    font-size: 1.5vw;
                }

                @media(max-width: 1250px) {
                    font-size: 1.3vw;
                }

                @media(max-width: 1100px) {
                    display: none;
                }
            }
        }
    }

    .img_container {
        position: relative;
        display: flex;
        margin: 0 20px 0 20px;

        .img {
            position: absolute;
        }
    }
}